# CDN File Storage
# django-storages[google]
django-storages==1.13.1

# Google cloud storage for CDN
google-cloud-storage==2.9.0

# Django framework
django==3.2.15

# Django rest framework
djangorestframework==3.12.4

# Python imaging library
# https://pillow.readthedocs.io/
Pillow==9.0.1
